# NumPy and pandas
## General
### NumPy
NumPy is used for performing numerical computations on arrays and matrices, such as mean, median, percentiles and linear algebra computations. Simply install numpy with pip `pip3 install numpy`. 

### Pandas
Pandas is used for handling tabular datasets that usually combine different types of data columns (integer, float, nominals, etc). Pandas requires NumPy. To install: `pip3 install pandas`.

## Numpy examples

### The basics

In [1]:
# zeros and ones. array shape
import numpy as np
a = np.zeros((2, 4))
b = np.ones((2, 4))
print(f"a:\n{a}")
print(f"b:\n{b}")
print(f"a+b:\n{a+b}")
print(f"a-2b:\n{a-2*b}")
print(f"shape:\n{a.shape}")

a:
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]]
b:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]
a+b:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]
a-2b:
[[-2. -2. -2. -2.]
 [-2. -2. -2. -2.]]
shape:
(2, 4)

In [2]:
# creating arrays from lists and array types
import numpy as np
a = np.array([1, 2, 5])
b = np.array([2.0, 10, -1])
print(f"a+b{a + b}")
print(a.dtype)
print(b.dtype)
print((a+b).dtype)

a+b[ 3. 12.  4.]
int64
float64
float64

In [5]:
# to change the type of a numpy array use astype():
import numpy as np
b = np.array([2.1, 10, -5])
b_reduced = b.astype('uint8')
print(b.dtype)
print(b_reduced.dtype)
print(b_reduced)

float64
uint8
[  2  10 251]

In [10]:
import numpy as np
x = np.array([[200, 100], [100, 200]]).astype('uint8')
y = np.array([[255, 100], [100, 255]]).astype('uint8')
print(x)
print(y)
print(x + y)
print("(Result is overfloated!)")
print("\n Results with type conversion:")
print(x.astype('int32') + y.astype('int32'))

[[200 100]
 [100 200]]
[[255 100]
 [100 255]]
[[199 200]
 [200 199]]
(Result is overfloated!)

 Results with type conversion:
[[455 200]
 [200 455]]

In [3]:
# numpy.arange. basic operations
import numpy as np
a = np.arange(0, 20, 5)
b = np.arange(0, 20, 5) - 10
print(f"a:{a}")
print(f"a-10:{a-10}")
print(f"a^2:{a ** 2}")
print(f"a-b:{a-b}")
print(f"cos(b * pi / 20):{np.cos(b * np.pi / 20.0)}")

a:[ 0  5 10 15]
a-10:[-10  -5   0   5]
a^2:[  0  25 100 225]
a-b:[10 10 10 10]
cos(b * pi / 20):[6.12323400e-17 7.07106781e-01 1.00000000e+00 7.07106781e-01]

In [4]:
# element-wise product matrix product
import numpy as np
A = np.array([[0, 2], [1, 1]])
B = np.array([[-1, 1], [1, 1]])
print(f"A .* B =\n {A * B}")     # element-wise
print(f"A * B =\n {A.dot(B)}")  # matrix product

A .* B =
 [[0 2]
 [1 1]]
A * B =
 [[2 2]
 [0 2]]

In [5]:
# reshaping arrays
import numpy as np
x = np.arange(10)
print(x)
print(x.reshape(2, 5))

[0 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 6 7 8 9]]

### Numpy statistics
The following example reads the temperatures from NYC in the last 150 years on the same day (9th April). The csv file contains 3 rows, namely date, max day temp and min day temp. Date is saved in a list and the two temperatures in numpy arrays. The following code extracts some basic statistics including, mean vale, median value, max, min and  10 and 90 percentiles.

In [12]:
import csv
import numpy as np

years = []
max_t, min_t = np.array([]), np.array([])
# read the csv file of New York min and max temperatures of 9th April for the last 150 years:
with open('data_ny_temperatures.csv', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter=',', quotechar='|')
    for ir, row in enumerate(reader):
        if ir>0:
            max_t = np.append(max_t, float(row[1]))
            min_t = np.append(min_t, float(row[2]))
            years.append(int(row[0].split('-')[0]))

print(f"Average max-day temperature is {max_t.mean():.1f}")
print(f"Median max-day temperature is {np.median(max_t):.1f}")
print(f"Average min-day temperature is {min_t.mean():.1f}")
print(f"Median min-day temperature is {np.median(min_t):.1f}")

print(f"The maximum max-day temp was {np.max(max_t):.1f} in {years[np.argmax(max_t)]}")
print(f"The maximum min-day temp was {np.max(min_t):.1f} in {years[np.argmax(min_t)]}")
print(f"The minimum max-day temp was {np.min(max_t):.1f} in {years[np.argmin(max_t)]}")
print(f"The minimum max-day temp was {np.min(min_t):.1f} in {years[np.argmin(min_t)]}")

max_t_p_10 = np.percentile(max_t, 10)
max_t_p_90 = np.percentile(max_t, 90)
years_max_10 = [y for i, y in enumerate(years) if max_t[i] < max_t_p_10]
print(years_max_10)
years_max_90 = [y for i, y in enumerate(years) if max_t[i] > max_t_p_90]
print(years_max_90)
min_t_p_10 = np.percentile(min_t, 10)
min_t_p_90 = np.percentile(min_t, 90)
years_min_10 = [y for i, y in enumerate(years) if min_t[i] < min_t_p_10]
print(years_min_10)
years_min_90 = [y for i, y in enumerate(years) if min_t[i] > min_t_p_90]
print(years_min_90)

Average max-day temperature is 55.3
Median max-day temperature is 54.0
Average min-day temperature is 39.6
Median min-day temperature is 39.0
The maximum max-day temp was 86.0 in 1991
The maximum min-day temp was 68.0 in 1991
The minimum max-day temp was 39.0 in 1885
The minimum max-day temp was 25.0 in 1977
[1874, 1884, 1885, 1900, 1907, 1911, 1917, 1935, 1974, 1979, 1982, 1996, 1997, 2003]
[1871, 1879, 1921, 1929, 1934, 1945, 1959, 1968, 1970, 1981, 1991, 2001, 2002, 2013]
[1876, 1880, 1885, 1888, 1891, 1900, 1917, 1920, 1950, 1958, 1972, 1977, 1997, 2000]
[1871, 1895, 1915, 1921, 1922, 1929, 1959, 1968, 1970, 1980, 1981, 1991, 2002, 2012, 2013]

A note on speed: if you need to append a large number of elements in a numpy array, it is much faster to append it to a list and then convert the list to numpy array (instead of using the numpy.append() method). And list comprehension is obvioysly even faster.

In [14]:
import numpy as np
import time

t1 = time.time()
a = np.array([])
for i in range(1, 10000):
    a = np.append(a, i)
t2 = time.time()
print(f"numpy.append(): {1000 * (t2 - t1):.2f} msecs")

t1 = time.time()
a = []
for i in range(1, 10000):
    a.append(i)
a = np.array(a)
t2 = time.time()
print(f"list append and numpy array conversion: {1000 * (t2 - t1):.2f} msecs")

t1 = time.time()
a = [i for i in range(1, 10000)]
a = np.array(a)
t2 = time.time()
print(f"list comprehension and numpy array conversion: {1000 * (t2 - t1):.2f} msecs")

numpy.append(): 100.55 msecs
list append and numpy array conversion: 2.01 msecs
list comprehension and numpy array conversion: 1.13 msecs

Talking about statistics, two of the most important quantities used in random variable statistics (whatever quantity they measure) are mean and standard deviation. We've already seen mean in some examples above. Standard deviation, which measures how close the values of the variable are to their mean value. Below, we are showing how to compute mean and std of a sequence and how to standardize the values of the sequence into having a standard deviation of 1 and mean value equal to 0. This is a very important process, used in machine learning and data science before training models and before predicting. An alternative is the max / min normalization, not shown here.

In [8]:
import numpy as np
import numpy.random
m, s, n_samples = 10, 5, 1000
x = numpy.random.normal(m, s, n_samples)
m_est = x.mean()
s_est = x.std()

print(f"mean is {m_est:.3f} and std is {s_est:.3f}")
# z = (x - m) / s
x_norm = (x - m_est) / s_est
print(f"after standardization mean is {x_norm.mean():.3f} and std is {x_norm.std():.3f}")

mean is 9.992 and std is 4.794
after standardization mean is -0.000 and std is 1.000

### Numpy slicing and row - column operations

In [9]:
import numpy as np
x = np.array([[1,2,3], [4,5,6], [7, 8, 9], [10, 11, 12]])
print("x:")
print(x)
print("\nx[1:, :-1]:")
print(x[1:, :-1])

x:
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

x[1:, :-1]:
[[ 4  5]
 [ 7  8]
 [10 11]]

In [10]:
# global and row-wise or column-wise calculations
import numpy as np
x = np.array([[1,2,3], [4,5,6], [7, 8, 9], [10, 11, 12]])
print(f"global mean {x.mean()}")
print(f"global min {x.min()}")
print(f"global max {x.max()}")
print(f"column-wise mean {x.mean(axis=0)}")
print(f"row-wise mean {x.mean(axis=1)}")

global mean 6.5
global min 1
global max 12
column-wise mean [5.5 6.5 7.5]
row-wise mean [ 2.  5.  8. 11.]

### Broadcasting
Broadcasting in numpy is. a very powerful mechanism that allows numpy operators to work on arrays of different shapes.

We saw previously that element-to-element operations are possible in numpy when arrays have the same dimensions. However, operations on arrays that do not share the same shapes is possible in numpy because of broadcasting. Broadcasting can be performed when the shape of each dimension in the arrays are equal or one has the one of its dimensions equal to 1. Below are some broadcasting examples:

In [11]:
# broacasting examples
import numpy as np
# example 1:
x = np.array([[1, 2], [3, 4]])
print(x + 2)  # scalar and 2D array broadcasting

# example 2:
x = np.array([[1,2,3], [4,5,6], [7, 8, 9], [10, 11, 12]])
y = np.array([1, 2, 3])
print(f"add a {x.shape[0]}x{x.shape[1]} with a {y.shape[0]}x{1} numpy array:")
print(x + y)

#example 3:
y = np.array([1, 2, 3, 4]).reshape(4,1)
print(f"add a {x.shape[0]}x{x.shape[1]} with a {y.shape[0]}x{1} numpy array:")
print(x + y)

[[3 4]
 [5 6]]
add a 4x3 with a 3x1 numpy array:
[[ 2  4  6]
 [ 5  7  9]
 [ 8 10 12]
 [11 13 15]]
add a 4x3 with a 4x1 numpy array:
[[ 2  3  4]
 [ 6  7  8]
 [10 11 12]
 [14 15 16]]

In [6]:
import numpy as np
# A normalization example without looping (using numpy broadcasting)
# initialize features (columns represent features and rows represent instances)
X = np.array([[200,0.1],[220,0.15],[250,0.11],[300,0.15],[320,0.16],[240,0.14]])

# get mean / std per feature (per column):
m = X.mean(axis=0) 
s = X.std(axis=0)

# normalize (without having to loop through different rows):
X_norm = (X - m) / s
# now X_norm is normalized with mean = 0 , std = 1:
X_norm

array([[-1.29937373, -1.57845666],
       [-0.82687419,  0.67648143],
       [-0.11812488, -1.12746904],
       [ 1.06312396,  0.67648143],
       [ 1.5356235 ,  1.12746904],
       [-0.35437465,  0.22549381]])

## Pandas
### Pandas data structures
Two are the basic types used in pandas: *series* and *dataframes*.
Series is a 1D labeled array that holds any data type (integers, strings, floats etc). To define a Series we need its data and its indices. Obviously the index must be of the same length to the data. If index is not defined, then the default value is \[0, ..., len(data) - 1\]. 

#### Series

In [7]:
# series definition
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(10), index=[f'index{i}' for i in range(10)])
print("series:"); print(s)
print("s.index"); print(s.index)

series:
index0    0.161133
index1   -2.481365
index2    0.005878
index3    0.985536
index4   -0.962256
index5    1.366281
index6   -0.682629
index7   -1.173335
index8    1.483380
index9    0.064038
dtype: float64
s.index
Index(['index0', 'index1', 'index2', 'index3', 'index4', 'index5', 'index6',
       'index7', 'index8', 'index9'],
      dtype='object')

In [13]:
# one can also initialize series from dict:
s = pd.Series({'a': 2.1, 'c': 1.9, 'b': 1, 'd': -1})
print("series:"); print(s)
print("s.index"); print(s.index)

series:
a    2.1
c    1.9
b    1.0
d   -1.0
dtype: float64
s.index
Index(['a', 'c', 'b', 'd'], dtype='object')

In [14]:
# indexing in series can be done with both its indices and integers
print(s[1], s['c'])

1.9 1.9

In [15]:
# also Series shares functions from numpy arrays:
s.mean(), s.median()

(1.0, 1.45)

In [16]:
# ... and more functions:
np.cos(s)

a   -0.504846
c   -0.323290
b    0.540302
d    0.540302
dtype: float64

In [17]:
# slicing similar to numpy arrays:
s[:-2]

a    2.1
c    1.9
dtype: float64

In [18]:
s[s>0.5]

a    2.1
c    1.9
b    1.0
dtype: float64

In [19]:
# BUT, operations are nos the same as numpy. E.g. + results in the union of the indices involved
# NaN is assigned as the default value for indices that are not in both series 
a = pd.Series({'a': 2.1, 'b': 1, 'c': -1})
b = pd.Series({'a': 1, 'd': 1, 'g': -1, 'c': -1})
a + b

a    3.1
b    NaN
c   -2.0
d    NaN
g    NaN
dtype: float64

#### DataFrame
When your data is tabular with row index and column index, the go-to choice is pandas.DataFrame. DataFrame  is a 2D data structure with columns of potentially different types. Conceptually, DataFrame can be considered as a data table stored in a spreadsheet, a csv, a json file or a database. 

There are several ways to construct a DataFrame object, below are two of the most frequent:

In [20]:
# construct DataFrame from dict
import pandas as pd
d = {'name': ["james", "theodore", "jane", "maria"], 
     'score': [4., 3., 2., 5.]}
df = pd.DataFrame(d)
print(df.columns)
print(df)

Index(['name', 'score'], dtype='object')
       name  score
0     james    4.0
1  theodore    3.0
2      jane    2.0
3     maria    5.0

In [21]:
# construct DataFrame from list of dicts
# (note that "sparse" matrices - aka missing data - are more easily supported using this format)
import pandas as pd
d = [{'name': 'james', 'score': '4', 'note': 'this is a note'},
     {'name': 'theodore', 'score': '3'},
     {'name': 'jane', 'score': '2'},
     {'name': 'maria', 'score': '5'}]
df = pd.DataFrame(d)
print(df.columns)
print(df)

Index(['name', 'score', 'note'], dtype='object')
       name score            note
0     james     4  this is a note
1  theodore     3             NaN
2      jane     2             NaN
3     maria     5             NaN

#### More on DataFrames

In [22]:
# lets read the CSV file of temperatures again:
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
print(f"{len(list(df.columns))} columns {list(df.columns)}")
print(f"{len(df.index)} rows")
df

3 columns ['date', 'maxt', 'mint']
151 rows

           date  maxt  mint
0    1869-04-09  47.0    33
1    1870-04-09  66.0    44
2    1871-04-09  83.0    62
3    1872-04-09  54.0    41
4    1873-04-09  50.0    39
..          ...   ...   ...
146  2015-04-09  43.0    37
147  2016-04-09  43.0    36
148  2017-04-09  67.0    45
149  2018-04-09  48.9    32
150  2019-04-09  51.1    46

[151 rows x 3 columns]

In [23]:
# SELECT a column:
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df['date']

0      1869-04-09
1      1870-04-09
2      1871-04-09
3      1872-04-09
4      1873-04-09
          ...
146    2015-04-09
147    2016-04-09
148    2017-04-09
149    2018-04-09
150    2019-04-09
Name: date, Length: 151, dtype: object

In [24]:
# convert a column to numpy array:
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df['maxt'].to_numpy()

array([47. , 66. , 83. , 54. , 50. , 42. , 47. , 43. , 49. , 53. , 69. ,
       49. , 56. , 53. , 62. , 41. , 39. , 65. , 63. , 51. , 59. , 46. ,
       48. , 51. , 56. , 48. , 64. , 51. , 47. , 57. , 46. , 42. , 49. ,
       48. , 64. , 57. , 56. , 51. , 41. , 64. , 51. , 54. , 42. , 63. ,
       45. , 44. , 68. , 43. , 40. , 51. , 54. , 45. , 72. , 65. , 50. ,
       53. , 56. , 61. , 48. , 52. , 71. , 50. , 63. , 45. , 60. , 69. ,
       42. , 47. , 45. , 49. , 46. , 61. , 59. , 49. , 58. , 59. , 71. ,
       57. , 48. , 54. , 50. , 46. , 68. , 54. , 60. , 56. , 63. , 52. ,
       45. , 52. , 71. , 47. , 52. , 61. , 55. , 47. , 58. , 53. , 59. ,
       74. , 64. , 76. , 67. , 51. , 55. , 40. , 52. , 51. , 44. , 57. ,
       41. , 57. , 75. , 39. , 58. , 58. , 47. , 55. , 61. , 66. , 56. ,
       62. , 86. , 60. , 63. , 55. , 68. , 40. , 42. , 50. , 64. , 50. ,
       78. , 76. , 39. , 62. , 63. , 58. , 49. , 58. , 63. , 68. , 58. ,
       64. , 82. , 61. , 43. , 43. , 67. , 48.9, 51.1])

In [25]:
# ... or to list
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df['mint'].to_list()[::20]

[33, 39, 39, 53, 40, 41, 41, 41]

In [26]:
# you can also INSERT a new column e.g.
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df['meant'] = (df['mint'] + df['maxt']) / 2
# or you can insert a fixed (non-array) value (it will be added to ALL rows)
df['note'] = 'this is a note'
df

           date  maxt  mint  meant            note
0    1869-04-09  47.0    33  40.00  this is a note
1    1870-04-09  66.0    44  55.00  this is a note
2    1871-04-09  83.0    62  72.50  this is a note
3    1872-04-09  54.0    41  47.50  this is a note
4    1873-04-09  50.0    39  44.50  this is a note
..          ...   ...   ...    ...             ...
146  2015-04-09  43.0    37  40.00  this is a note
147  2016-04-09  43.0    36  39.50  this is a note
148  2017-04-09  67.0    45  56.00  this is a note
149  2018-04-09  48.9    32  40.45  this is a note
150  2019-04-09  51.1    46  48.55  this is a note

[151 rows x 5 columns]

In [27]:
# DELETE a column
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
del df['maxt']
df

           date  mint
0    1869-04-09    33
1    1870-04-09    44
2    1871-04-09    62
3    1872-04-09    41
4    1873-04-09    39
..          ...   ...
146  2015-04-09    37
147  2016-04-09    36
148  2017-04-09    45
149  2018-04-09    32
150  2019-04-09    46

[151 rows x 2 columns]

We've seen that indexing columns is done like in dicts e.g. df['maxt']. What about indexing rows and assining values to individual cells:

In [28]:
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
print(df.iloc[0]) # index rows
# you can also use df.loc iand provide a LABEL instead of an integer
# (if the dataframe has been defined with labels in rows, see next examples)

# ASSIGN a value to a specific CELL:
df.iloc[0, df.columns.get_loc("maxt")] = -10
print(df)

date    1869-04-09
maxt            47
mint            33
Name: 0, dtype: object
           date  maxt  mint
0    1869-04-09 -10.0    33
1    1870-04-09  66.0    44
2    1871-04-09  83.0    62
3    1872-04-09  54.0    41
4    1873-04-09  50.0    39
..          ...   ...   ...
146  2015-04-09  43.0    37
147  2016-04-09  43.0    36
148  2017-04-09  67.0    45
149  2018-04-09  48.9    32
150  2019-04-09  51.1    46

[151 rows x 3 columns]

In the following example
 * we set the index of the temperatures matrix from default (integers) to the date
 * we demonstrate how to use the loc method to index when non-integer indices are used

In [29]:
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df = df.set_index("date")
print(df)
# you can now use the loc method
df.loc["2018-04-09"]

            maxt  mint
date
1869-04-09  47.0    33
1870-04-09  66.0    44
1871-04-09  83.0    62
1872-04-09  54.0    41
1873-04-09  50.0    39
...          ...   ...
2015-04-09  43.0    37
2016-04-09  43.0    36
2017-04-09  67.0    45
2018-04-09  48.9    32
2019-04-09  51.1    46

[151 rows x 2 columns]

maxt    48.9
mint    32.0
Name: 2018-04-09, dtype: float64

In [2]:
# SLICING
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df = df.set_index("date")
print(df[::20]) # print every 20 rows
print(df[2:4])  # print rows 2 to 3
print(df["1929-04-09": "1944-04-09"])  # use non-integer indices in slicing

            maxt  mint
date
1869-04-09  47.0    33
1889-04-09  59.0    39
1909-04-09  51.0    39
1929-04-09  71.0    53
1949-04-09  50.0    40
1969-04-09  64.0    41
1989-04-09  56.0    41
2009-04-09  63.0    41
            maxt  mint
date
1871-04-09  83.0    62
1872-04-09  54.0    41
            maxt  mint
date
1929-04-09  71.0    53
1930-04-09  50.0    33
1931-04-09  63.0    46
1932-04-09  45.0    41
1933-04-09  60.0    40
1934-04-09  69.0    44
1935-04-09  42.0    37
1936-04-09  47.0    36
1937-04-09  45.0    36
1938-04-09  49.0    37
1939-04-09  46.0    33
1940-04-09  61.0    43
1941-04-09  59.0    39
1942-04-09  49.0    33
1943-04-09  58.0    39
1944-04-09  59.0    45

In [4]:
# SELECTION
print(df[df['maxt'] > 80]) # select rows with maxt>80
print(df[df['maxt'] - df['mint'] < 5]) # select rows with less than 5 difference between maxt and mint
print(df[(df['maxt'] > 80) | (df['mint'] < 28)]) # select rows with very high max or very low min temperatures

            maxt  mint
date
1871-04-09  83.0    62
1991-04-09  86.0    68
2013-04-09  82.0    51
            maxt  mint
date
1884-04-09  41.0    37
1897-04-09  47.0    44
1932-04-09  45.0    41
1979-04-09  41.0    37
1980-04-09  57.0    55
2003-04-09  39.0    35
date
1871-04-09    83.0
1885-04-09    39.0
1950-04-09    46.0
1977-04-09    44.0
1991-04-09    86.0
2013-04-09    82.0
Name: maxt, dtype: float64

In [32]:
# SORTING
import pandas as pd
df = pd.read_csv("data_ny_temperatures.csv")
df = df.set_index("date")
df = df.sort_values(by='mint') 
print(df)

            maxt  mint
date
1977-04-09  44.0    25
1885-04-09  39.0    27
1950-04-09  46.0    27
1917-04-09  40.0    28
1958-04-09  52.0    29
...          ...   ...
1968-04-09  74.0    55
1980-04-09  57.0    55
1981-04-09  75.0    55
1871-04-09  83.0    62
1991-04-09  86.0    68

[151 rows x 2 columns]